@model IEnumerable<Web_3.Models.HoaDonBan>

@{
    ViewBag.Title = "Danh sách hoá đơn bán nhiều nhất";
}

<h2>@(ViewBag.Title)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sach.TenSach)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sach.TenSach)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHD })
        </td>
    </tr>
}

</table>
